<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.a5156.xdkp">


    <!-- 在SDCard中创建与删除文件权限 、SDCard读写权限-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!--系统打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />


    <!--实名制-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />

    <!--通话记录-->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!--录音-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:name=".common.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".message.activity.MainActivity">

        </activity>
        <activity android:name=".login.activity.LoginActivity" />
        <activity android:name=".login.activity.HomeActivity" />
        <activity android:name=".login.activity.EntranceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".message.activity.TestActivity" />
        <activity android:name=".common.util.PermissionsActivity">

        </activity>
        <activity android:name=".message.activity.TestActivity2">

        </activity>
        <activity android:name=".message.activity.TestActivity3" />
        <activity
            android:name=".message.activity.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="DeviceListActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".message.temp.CallHistoryActivity" />

        <!--<service android:name=".common.service.PhoneService" />-->
        <service android:name=".common.phonerecord.RecordAudioService" />

        <receiver android:name=".common.phonerecord.PhoneStatReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
    </application>


</manifest>